<div class="contact_me" style="padding-top: 200px;">
    <div class="hire_contact">
        <h1 style="margin-bottom: 20px;">Hire Arjun Thakur</h1>
        <a href="tel:+91 8909645820" style="text-decoration: underline;color: rgb(115, 255, 115)">890-964-5820 ↗</a><br>
        <a href="https://www.instagram.com/aj_ajju_thakur/?hl=en" style="margin-bottom: 40px;text-decoration: underline;color: rgb(115, 255, 115)">@Aj_ajju_thakur ↗</a>
        <div style="padding-bottom: 30px;border-bottom: 1px solid rgb(255, 255, 255);margin-bottom: 20px;"></div>
        <p>Call, text, or DM will work. Text is optimal.<br>Not sure what to hire me for?<br>Check out my <a routerLink="/skills" style="color: rgb(115, 255, 115);text-decoration: underline;"> skills 🛠</a></p>
    </div>
</div>
<router-outlet></router-outlet>