<div class="about_me">
    <div class="about" style="text-align: center;font-size: 35px;padding-top: 100px;"><h2 style="text-decoration: underline;">About this project</h2></div>
    <p style="width: 65%;margin-left: auto;margin-right: auto;font-size: large;margin-top: 20px;">I don't have lot of words about this project, my other prohects and about myself so get detail about me through my projects and my social media accounts.</p>
    <div style="text-align: center;margin-top: 20px;"><a href="https://github.com/Arjun1thakur" target="_blank"><i style="background-color:transparent;font-size: 300px;" class="fab fa-github"></i></a></div>
/div>
<router-outlet></router-outlet>