<div class="skills" style="text-align: center;"> 
    <h1>SELECT A SKILL</h1>
    <a href="#">websites</a>
    <a href="#">graphic designer</a>
    <a href="#">database</a>
    <a href="#">more</a>
    <div class="skills_section">
        <div class="websites" style="padding-bottom: 30px;border-bottom: 2px solid orange;">
            <h2 style="border-top: 2px solid orange;padding: 30px;margin-top: 240px;"> WEBSITE DESIGN AND DEVELOPMENT</h2>
            <p id="para_website" style="text-align:center; ">I can design and build a website completely from scratch and accomplish nearly any design you want to bring to life. That ability is irrelevant if it is not given direction. That's why I also drive clarity to ensure that the website accomplishes it's created purpose. <br><br> I built this website completely from scratch. Every color, font, animation, link, blur, and written work is my implementation.</p>
            <div class="hire_me"><a style="background-color: rgb(36, 34, 34);padding: 5px;border-radius: 5px;font-family: Overpass Mono;" routerLink="/contect"><span style="font-size: 20px;background: transparent;color: green;justify-content: center;">@</span> Currently available for hire ↗</a></div>
        </div>
        <div class="websites" style="padding-bottom: 30px;border-bottom: 2px solid yellow;">
            <h2 style="border-top: 2px solid yellow;padding: 30px;margin-top: 140px;"> GRAPHIC DESIGN</h2>
            <p id="para_website" style="text-align:center; ">I can design anything from functional logos, social media posts, flyers, banners, and PDFs to creative t-shirts, album covers, and more.</p>
            <div class="hire_me"><a style="background-color: rgb(36, 34, 34);padding: 5px;border-radius: 5px;font-family: Overpass Mono;" routerLink="/contect" ><span style="font-size: 20px;background: transparent;color: green;justify-content: center;">@</span> Currently available for hire ↗</a></div>
        </div>
        <div class="websites" style="padding-bottom: 30px;border-bottom: 2px solid red;">
            <h2 style="border-top: 2px solid red;padding: 30px;margin-top: 140px;">DATABASE</h2>
            <p id="para_website" style="text-align:center; ">I have over a year of marketing coordination and content production experience for small businesses. From developing proper marketing operations for an in-house or outsourced team to executing synchronized production for a YouTube channel, podcast, Instagram, Facebook, and blog feed with that team.</p>
            <div class="hire_me"><a style="background-color: rgb(36, 34, 34);padding: 5px;border-radius: 5px;font-family: Overpass Mono;" routerLink="/contect"><span style="font-size: 20px;background: transparent;color: green;justify-content: center;">@</span> Currently available for hire ↗</a></div>
        </div>
        <div class="websites" style="padding-bottom: 30px;border-bottom: 3px solid green;">
            <h2 style="border-top: 3px solid green;padding: 30px;margin-top: 140px;"> SKILLS IN PROGRESS</h2>
            <p id="para_website" style="text-align:center; ">Photography, photoshop, copywriting, podcasting advertising. Currently I can accomplish nearly any task with online learning resources, but knowing what to do when is where experience comes in, and why these skills are in progress.</p>
            <div class="hire_me"><a style="background-color: rgb(36, 34, 34);padding: 5px;border-radius: 5px;font-family: Overpass Mono;" routerLink="/contect"><span style="font-size: 20px;background: transparent;color: green;justify-content: center;">@</span> Currently available for hire ↗</a></div>
        </div>
    </div> 
</div>
<router-outlet></router-outlet>