<div class="projects" style="padding-top: 100px;">
            <div class="project_contents">
                <div class="card">
                    <div class="card_img">
                        <img [src]="project1" alt="">
                    </div>
                    <div class="card_content"><h2>Card One</h2><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, molestias!</p></div>
                </div>
                <div class="card">
                    <div class="card_img">
                        <img [src]="project2" alt="">
                    </div>
                    <div class="card_content"><h2>Card Two</h2><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil, ea.</p></div>
                </div>
                <div class="card">
                    <div class="card_img">
                        <img [src]="project3" alt="">
                    </div>
                    <div class="card_content"><h2>Card Three</h2><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, tenetur!</p></div>
                </div>
            </div>
            <div class="more_project"><a href="https://arjun1thakur.github.io/Arjun1thakur/" target="_blank" style="padding: 10px;border: 1px solid white;border-radius: 4px;">More Projects ✏️</a></div>
        </div>
        <router-outlet></router-outlet>