<div class="container">
        <div id="navbar">
            <header>
                <nav>
                    <ul class="nav_link">
                        <li><h1 style="background-color: transparent;">Arjun thakur</h1></li>
                        <li><a routerLink="/">Home 🏠</a></li>
                        <li><a routerLink="projects">Projects ✏️</a></li>
                    </ul>
                </nav>
                <a class="logo" routerLink="social"><i class="far fa-bell"></i></a>
                <a routerLink="about" id="about_link">About me 👋</a>
                <a id="home1">Home</a>
            </header>
        </div>
        <router-outlet></router-outlet>
        <div class="bottam">
          <div class="hire"><h2>Arjun Thakur <a routerLink="contect" style="background-color: rgb(36, 34, 34);padding: 5px;border-radius: 5px;font-family: Overpass Mono;"><span style="font-size: 80px;background: transparent;color: rgb(115, 255, 115);justify-content: center;">.</span> Currently available for hire ↗</a></h2></div>
          <div><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste beatae accusamus suscipit amet, aspernatur deleniti nam vero similique nemo molestias dolorem sint et sit, fugit dolores corrupti sequi ea nesciunt.</p></div>

          <div><p>Stay in touch <a href="tel:8909645820" style="color: rgb(115, 255, 115)">890-964-5820</a> // <a href="https://www.instagram.com/aj_ajju_thakur/?hl=en" target="_blank" style="color: rgb(115, 255, 115)">@Aj_ajju_thakur</a></p></div>
      </div>
      <div style="text-align: center;border-top: solid white;margin-top: 30px;"><p style="margin: 20px;">© 2021 Arjun Thakur</p></div>
  </div>