        <div class="main_section">
            <div class="main_img" style="text-align: center;"><img [src]="fronthome" alt=""></div>
            <h1 style="text-align: center; margin-bottom: 20px;font-size: 50px;">Hey there 👋</h1>
            <h3 style="text-align: center;margin: 20px;">My name is Arjun thakur. I’m a website designer, developer, and software developer.</h3>
            <p style="text-align: center;margin: 20px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt doloribus labore sed quam maiores cum odio voluptate est soluta. Ea fugit neque doloremque, ratione unde commodi quam aut quisquam. Accusantium.</p>
            <p style="text-align: center;margin: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci molestias corrupti hic nam aliquid sit, doloribus libero odit aliquam at veritatis repellendus tempora reiciendis architecto facere fugit laboriosam sed! Totam ex, eius nulla assumenda saepe eaque et nobis optio provident!</p>
            <p style="text-align: center;margin: 20px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem ea dignissimos recusandae. Qui facere, dicta consectetur repellat iure omnis nobis dolorem quisquam excepturi repudiandae dignissimos.</p>
        </div>
        <router-outlet></router-outlet>
        